body {
    background-color: #000;
    animation: background-animation 5s ease-in-out infinite;
  }
  
  @keyframes background-animation {
    0% {
      background-color: #ff0000;
    }
    50% {
      background-color: #00ff00;
    }
    100% {
      background-color: #0000ff;
    }
  }
  .rotate-square {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  menu-toggle {
    display: none;
  }
  
  menu-button {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  menu li {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  menu li a {
    display: block;
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
  }
  
  menu-toggle:checked ~ menu {
    display: block;
  }
  
  
  nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav .nav-header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav .nav-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  nav .nav-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    margin: 10px;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  section h1, section h2 {
    font-size: 50px;
    margin: 0;
  }
  
  section p {
    font-size: 20px;
  }
  
  
  @media screen and (max-width: 768px) {
    nav .nav-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
     
  }
  
  nav li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  }
  
  nav a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  }
  
  nav .nav-toggle {
  display: block;
  margin-right: 10px;
  }
  }
  
  @media screen and (max-width: 480px) {
  nav .nav-header {
  flex-direction: column;
  align-items: flex-start;
  }
  
  nav .nav-title {
  margin-bottom: 10px;
  }
  }