* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: sans-serif;
}

body {
  background-color: rgb(3, 1, 28);
}

header {
  background-color: rgb(42, 187, 254);
  position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
    left: 0;
  z-index: 4;
  /* Te j훮papildina CSS */
}

footer {
  background-color: rgb(42, 81, 254);
position: fixed;
  width: 100vw;
  height: 60px;
  top: 0;
    left: 0;
  z-index: 4;
  /* Te j훮papildina CSS */
}

main {
  max-width: 700px;
  margin: 60px auto;
}

article {
  /* Te j훮papildina CSS */
  margin-bottom: 200px;
  margin-top: 100px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  width: 400px;
}

p {
  font-size: 2rem;
}

/* Te j훮papildina CSS */
